.button {
    padding-top: 5px;
    background-color: greenyellow;
    border-radius: 8px;
}
#b1, .button {
    height: 28px;
    width: 100px;
    background-color: rgb(136, 247, 147);
    border: 0;
    border-radius: 16px;
}
#b3 {
    width: 140px;
}
#b1:hover {
    background-color: rgb(98, 213, 109);
}
#b1:active {
    background-color: rgb(81, 180, 90);
    border: 1.8px solid rgb(63, 63, 63);
}
#b3:hover {
    background-color: rgb(98, 213, 109);
}
#b3:active {
    background-color: rgb(81, 180, 90);
    border: 1.8px solid rgb(63, 63, 63);
}
#b2 {
    height: 33px;
    width: 140px;
    background-color: rgb(223, 221, 221);
    border: 2px solid black;
    border-radius: 10px;
}
#b2:hover {
    background-color: rgb(184, 184, 184);
    border: 0;
}
#b2:active {
    color: white;
    background-color: rgb(135, 135, 135);
    border: 1.8px solid rgb(44, 44, 44);
}
